@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway+Dots&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  width: 100%;
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.container__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container__header > img {
  max-height: 12rem;
  max-width: 12rem;
  animation: logoAnimate 10s linear infinite;
}

@keyframes logoAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container__header > h1 {
  font-family: "Raleway Dots", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
}

.container__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 30rem) {
  .app {
    padding: 1rem;
  }

  .container__header {
    flex-direction: column;
    gap: 1rem;
  }

  .container__header > h1 {
    font-size: 2.5rem;
    font-weight: 580;
  }
}

@media screen and (max-width: 22.5rem) {
  .app {
    justify-content: center;
  }

  .container__header {
    flex-direction: column;
    gap: 0;
  }

  .container__header h1 {
    font-size: 2rem;
  }

  .container__header img {
    height: 10rem;
    width: 10rem;
  }
}
